<strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi assossiada a você! Confira os detalhes abaixo:</p>
<p>
  <strong>Produto: </strong> {{ product }} <br />
  <br/>
  <small>
    O produto aguarda sua retirada!
  </small>
</p>
